.App {
  text-align: center;
  font-size: 200%;
  min-height: 100vh;
  background-image: linear-gradient(#5c6372, white)
}

.Header-text {
  display: inline-block;
  background-image: linear-gradient(to right, #5cc0f9, #38b8ea) ;
  text-align: center;
  min-height: 50px;
  min-width: 400px;
  color: white;
  border-radius: 20px;
}

.Output {
  color: white;
  border-radius: 20px;
  background-image: linear-gradient(to right, #5cc0f9, #38b8ea);
  min-height: 60px;
  min-width: 400px;
  font-size: 20px;
  padding: 5px;
}

.Textfield {
  border-radius: 25px;
  color: black;
  margin: auto;
}

.Textbox {
  border-radius: 25px;
  margin-top: 25px;
  color: black;
  min-width: 265px;
}

.contact {
  font-size: 10px;
  color: grey;
}
